body{
    margin: 0;
    background-color: rgb(243, 249, 252);
}
*{
    box-sizing: border-box;
}
.nyilak::after {
    content: "";
    clear: both;
    display: table;
}
.kek::after {
    content: "";
    clear: both;
    display: table;
}
.piros li{
    margin-left: 18%;
    list-style-image: url('../képek/icon_bad.png');
}
.piros{
    position:absolute; left: 22%; top: 0;
    width: 19%;
    z-index: 1;
} 
.zold li{
    margin-left: 18%;
    list-style-image: url('../képek/icon_good.png');
}
.zold{
    position:absolute; left: 58%; top: 0;
    width: 19%;
    z-index: 1;
} 
nav.doboz1{
    padding-bottom: 10%;
    border: 3px solid red;
    border-radius: 15px;
    box-shadow: 5px 5px  5px red;
}
nav.doboz2{
    padding-bottom: 10%;
    border: 3px solid green;
    border-radius: 15px;
    box-shadow: 5px 5px  5px green;
}
div.nyilak{
    position:absolute; left: 42.5%; top: 40%;
    width: 14%;
    z-index: 1;
}
.nyilak{
    width: 100%;
    height: 130px;
    background-image: url('../képek/opposite_arrows.jpg');
    background-size: 100% 100%;
}
.kek{
    position:absolute; left: 38%; top: 62%;
    width: 22%;
    z-index: 2;
    font-weight: bold;
    transform: rotate(6deg);
    background-color: blue;
    box-shadow: 0px 9px 9px 2px grey;
}
p{
    color: khaki;
    text-align: center;
}
h2{
    margin-top: 10%;
    margin-left: 13%;
}
