body{
    margin: 0;
    background-color: rgb(243, 249, 252);
}
*{
    box-sizing: border-box;
}
.nyilak::after {
    content: "";
    clear: both;
    display: table;
}
.zold::after {
    content: "";
    clear: both;
    display: table;
}
.piros li{
    margin-left: 18%;
    list-style-image: url('icon_bad.png');
}
.piros{
    width: 19%;
    float: left;
    margin: 1%;
    margin-left: 22%;
}
.zold li{
    margin-left: 18%;
    list-style-image: url('icon_good.png');
}
.zold{
    width: 19%;
    float: right;
    margin-top:-38%;
    margin-right: 22%;
}
nav.doboz1{
    border-radius: 15px;
    box-shadow: 5px 5px  5px red;
}
nav.doboz2{
    border-radius: 15px;
    box-shadow: 5px 5px  5px green;
}
div.nyilak{
    margin-left: 42%;
    margin-right: 42%;
}

