body{
    margin: 0;
    background-color: rgb(243, 249, 252);
}
*{
    box-sizing: border-box;
}
.nyilak::after {
    content: "";
    clear: both;
    display: table;
}
.kek::after {
    content: "";
    clear: both;
    display: table;
}
.piros li{
    margin-left: 18%;
    list-style-image: url('icon_bad.png');
}
.piros{
    position:absolute; left: 22%; top: 0;
    width: 19%;
    z-index: 1;
} 
.zold li{
    margin-left: 18%;
    list-style-image: url('icon_good.png');
}
.zold{
    position:absolute; left: 58%; top: 0;
    width: 19%;
    z-index: 1;
} 
nav.doboz1{
    border-radius: 15px;
    box-shadow: 5px 5px  5px red;
}
nav.doboz2{
    border-radius: 15px;
    box-shadow: 5px 5px  5px green;
}
div.nyilak{
    position:absolute; left: 43.5%; top: 30%;
    width: 14%;
    z-index: 1;
}
.kek{
    position:absolute; left: 40%; top: 52%;
    width: 20%;
    z-index: 2;
    transform: rotate(10deg);
    background-color: blue;
    border: 1px solid blue;
    box-shadow: 0px 7px 7px 5px grey;
}
p{
    color: khaki;
    text-align: center;
}
