body{
    margin: 0;
    background-color: rgb(217, 247, 237);
}
*{
    box-sizing: border-box;
}
.piros li{
    margin-left: 18%;
    list-style-image: url('icon_bad.png');
}
.piros{
    width: 19%;
    float: left;
    margin-left: 22%;
}
.zold li{
    margin-left: 18%;
    list-style-image: url('icon_good.png');
}
.zold{
    width: 19%;
    float: right;
    margin-right: 22%;
}
nav{
    border-radius: 15px;
}
.nyilak{
    
}
